body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  --bcgcolor:#FF6F61;
  --accent:#00bbaa;
  --neutral:#444444;
  background-image: linear-gradient(var(--bcgcolor), white);
  background-attachment: fixed;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  color:white;
  text-align: center;
  font-family: 'Pattaya', 'Open Sans Condensed', sans-serif;
  font-size: 4rem;
  text-shadow: .08em .05em .2em var(--neutral);
  }

main {
  background-color: white;
  color: var(--neutral);
  border: solid;
  border-width: thick;
  border-radius: 3em;
  border-color: var(--accent);
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 4em;
  font-size: 1.2rem;
  padding: 2em 3em 3em 3em;
  box-shadow: 0 0 2rem var(--neutral);
}

main a {
  color:#000000;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  color:black;
}

blockquote {
  text-align: center;
  color: : white;
  display: block;
  font-weight: bold;
  background-color: var(--accent);
  margin: 2em auto 3em auto;
  width: 20em;
  max-width: 60vw;
  padding:0.5em;
  box-shadow: .1em .1em 1em var(--neutral);
}

blockquote a {
  color:white;
  text-decoration: none;
}

blockquote a:hover {
  text-decoration: underline;
  }

blockquote:hover {
  background-color:var(--bcgcolor);
}

/* ======== FORM ======== */

input {
  box-sizing: border-box;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  outline:none;
}

input #describe {
  padding: 0;
  margin-left: 0.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
}

ol li {
  padding-bottom: 2em;
  line-height: 1.5em;
}

ul li {
  list-style: none;
  padding-bottom: 0.5em;
  line-height: 1rem;
  }

ol li::marker {
  color: var(--accent);
  }

select {
  box-sizing: border-box;
  padding: 0.5em;
  margin: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  outline:none;
}

input, select {
  border:none;
  border-bottom: solid;
  border-width: thick;
  border-color: var(--accent);
}

input:focus {
  border:none;
  border: solid;
  border-width: thick;
  border-color: var(--bcgcolor);
  outline:none;
  }

  input:hover {
    border:none;
    border: solid;
    border-width: thick;
    border-color: var(--bcgcolor);
    }

textarea {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  border: none;
  border: solid;
  border-width:medium;
  border-color: var(--accent);
  padding: 1em;
  margin: 1em auto 1em auto;
  word-wrap: break-word;
  font-size: 1.2rem;
  outline:none;
  width:100%;
}

textarea:focus {
  border:none;
  border: solid;
  border-width: thick;
  border-color: var(--bcgcolor);
  outline:none;
}

textarea:hover {
  border:none;
  border: solid;
  border-width: thick;
  border-color: var(--bcgcolor);
}

#dropdown:active {
  box-sizing: border-box;
  border:none;
  border: solid;
  border-width: thick;
  border-color: var(--bcgcolor);
  outline:none;
}

#dropdown:hover {
  box-sizing: border-box;
  border:none;
  border: solid;
  border-width: thick;
  border-color: var(--bcgcolor);
}

.design-range {
  box-sizing: border-box;
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  border: solid;
  border-width: medium;
  border-color: var(--accent);
  padding:0.5em;
  padding-top:1em;
  margin-top: 1em;
  }


.buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
  }

button {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  padding:0.5em;
}

#submit {
  border: none;
  background-color: var(--accent);
  color:var(--neutral);
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 1em var(--neutral);
  font-weight: bold;
  padding-left: 0.8em;
  padding-right: 0.8em;
  }

#submit:hover {
  background-color: var(--bcgcolor);
  color:white;
}

#submit:focus {
outline:none;
  }

#submit:active {
  background-color: white;
  color:var(--bcgcolor);
  outline:none;
}

#reset {
  border: none;
  background-color: #dddddd;
  color:var(--neutral);
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 1em var(--neutral);
  }

  #reset:hover {
    background-color: var(--neutral);
    color:white;
  }

  #reset:active {
    background-color: var(--bcgcolor);
    color:white;
    outline:none;
  }


#reset:focus {
    outline:none;
      }

/* ========== FOOTER ====== */

footer {
  background-color: var(--accent);
  color:white;
  text-align: center;
  position: relative;
  bottom: 0;
  padding:0.5em;
  margin:0;
  margin-top: 3rem;
  width:100vw;
  box-shadow: 0 -0.1em 1em var(--neutral);
  border-radius: 1em 1em 0 0;
  }

footer a {
  color:white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--neutral);
}
